<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Previsão do tempo</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Previsão</h1>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia</th>
						<th>Temperatura minima</th>
						<th>Temperatura maxima</th>
						<th>Humidade</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tempo : ${PrevTempo}">
                    <td th:text="${tempo.nSemana}"></td>
                    <td th:text="${tempo.tempMinima}"></td>
                    <td th:text="${tempo.tempMaxima}"></td>
                    <td th:text="${tempo.humidade}"></td>
                    <td th:text="${tempo.descSucinta}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>